<div class="container-access-dash">
    <a class="btn-frame fs-30" [routerLink]="['/posts']">
   <i class="material-icons">assignment</i>
      <span class="fs-18 mt-10">Posts</span>
    </a>
    <div class="btn-frame fs-30" [routerLink]="['/albums']">
    <i class="material-icons">library_books</i>
      <span class="fs-18 mt-10">Albums</span>
    </div>
    <div class="btn-frame fs-30" [routerLink]="['/todos']">
       <i class="material-icons">tab</i>
      <span class="fs-18 mt-10">Todos</span>
    </div>
</div>