<h2 class="title-page">Todos</h2>

<div class="mb-20">
    <button
      class="bg-color-1 txt-color-3 btn-cancel-confirm"
      mat-raised-button=""
      (click)="openModal(null)"
      >
      <span >Novo</span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
</div>

<mat-paginator class="bg-color-transparent" [pageSizeOptions]="[6, 12, 24]" showFirstLastButtons></mat-paginator>

<div class="container-cards">
  <div class="card-item" *ngFor="let data of observableData | async">
    <mat-card class="card">
      <mat-card-title>{{data.id}}</mat-card-title>
      <mat-card-subtitle>{{data.title}}</mat-card-subtitle>

      <mat-card-content>
        <div class="container-btns-options">
          <div class="status" *ngIf="!!data.completed">Completo <i class="material-icons txt-color-1">favorite</i></div>
          <div class="status" *ngIf="!data.completed"> Incompleto <i class="material-icons txt-color-1">favorite_border</i></div>
          <button
            class="btn-crud txt-color-8"
            (click)="openModal(data)">
            <i class="material-icons">edit</i>
          </button>

          <button
            class="btn-crud txt-color-7"
            (click)="deleteTodos(data.id)">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer ><div class="border bg-color-1"></div></mat-card-footer>
    </mat-card>
  </div>
</div>
<fs-modal
  *ngIf="service.modal.open"
  [title]="service.modal.title"
  [description]="service.modal.description"
  [footer]="service.modal.footer"
  [open]="service.modal.open"
  hideBtnClose="1"
  (closeEvent)="service.onCloseModal()"
>
<fs-todo-form></fs-todo-form>
</fs-modal>